@import "compass/css3";
@import "compass/css3/user-interface";
@import "compass/css3/transition";
$use-mozilla-ellipsis-binding: true;
@import "compass/typography/text/ellipsis";
@import 'variables';
@import 'mixins';

$h-font-family : "Russo One" !default;

$color-bg-01 : #FFF;
$color-bg-02 : #CCC;
$color-bg-03 : #666;

$hex-facebook   : #3b5998;
$hex-twitter    : #1DCAff;
$hex-github     : #888;
$hex-google     : #B00;

body {
    padding-top: 52px;
}

#navMain {

    //&.navbar { background-color:#036}
    .navbar-brand { padding:8px}
    button{
        color:#CCC;
    }
    .pointer {
        position:absolute;
        top:50px;
        width:100%;
        left:0;
        background:#CCC;
        text-align:center;
        @include transition-property(left, width, top);
        @include transition-duration(500ms);
        @include transition-timing-function(ease);
    }
    a { font-family:$h-font-family; font-size:1.2em}
}

.page-main {
     //background:#CCC image-url('booth-repeat.jpg');
    .page-mid{
        //color:#fff;
        padding:20px;
        //background: #666 image-url('concrete-repeat.jpg');
        min-height:500px;
        //@include text-shadow(#003 1px 1px 2px);
    }
}


.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    background: $gray-darker;
}

.jumbotron {
    margin:0;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

.social-icons {
    $social: facebook, twitter, google, youtube, instagram;
    @include cubo($array:$social,$img:"social-icons-32.gif", $size : 32px);
    padding:8px 0 0 0;
    list-style:none;
    li { float:left;margin:0 0 0 4px; padding:0; border:1px solid #444 }
}

.social-login{
    color:#FFF;
    a {  
        display:block;
        margin:6px;
        color:#FFF;
        vertical-align:baseline;
        line-height:50px;
        border:1px solid #CCC;
        border-radius:5px;
        font-weight:bold;
        @include box-shadow(#666 2px 2px 6px);
        &:hover{ text-decoration:none }
    }

    .fa { line-height:50px; min-width:50px; height:50px; text-align:center; 
        font-size:2.5em;
        @include text-shadow(#222 0 0 2px);
    }

    .facebook{ 
        a{ background:$hex-facebook;}
       .fa { border-right:1px solid darken($hex-facebook,10%); }
    }
    .github{ 
        a{ background:$hex-github;}
        .fa { border-right:1px solid darken($hex-github,10%); }
    }
    .twitter{ 
        a{ background:$hex-twitter;}
        .fa { border-right:1px solid darken($hex-twitter,10%); }
    }
    .google{ 
        a{ background:$hex-google;}
        .fa { border-right:1px solid darken($hex-google,10%); }
    }
}



.messenger {
    position:fixed;
    bottom:0;
    right:20px;
    .win {
        background:$color-bg-01;
        float:left;
        width:240px;
        min-height:240px;
        border:1px solid #CCC;
        margin-right:10px;
         @include box-shadow(#666 2px 2px 6px);
    }
    .chat {
    }
    .users {
        a { 
            color: #999; 
            img {  display:inline-block; border:1px solid #CCC; width:30px; height:30px;}
            &.signed-in {
                color:#000;
                font-weight:bold;
                img {border:1px solid #0C0;}
            }   
        }     
    }
}