@import "compass/css3";
@import "compass/css3/user-interface";
@import "compass/css3/transition";
$use-mozilla-ellipsis-binding: true;
@import "compass/typography/text/ellipsis";
@import 'variables';
@import 'mixins';


body {
    padding-top: 52px;
}

.ellipsis {
  @include ellipsis;
  display:block
}

#navMain {

    //&.navbar { background-color:#036}
    .navbar-brand { padding:8px}
    button{
        color:#CCC;
    }
    .pointer {
        position:absolute;
        top:50px;
        width:100%;
        left:0;
        background:#CCC;
        text-align:center;
        @include transition-property(left, width, top);
        @include transition-duration(500ms);
        @include transition-timing-function(ease);
    }
    a { font-family:$h-font-family; font-size:1.2em}
}

.page-main {
     background:#F0F0F0;
    .page-mid{
        //color:#fff;
        padding:20px;
        background: #FFFFFF;
        min-height:500px;
        //@include text-shadow(#003 1px 1px 2px);
    }
}


.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    background: $gray-darker;
}

.jumbotron {
    height:300px;
    margin:0;
    padding:0;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

.slideshow{
        background:image-url('blue-bg-leather.jpg');

    .slide{
        color:#FFF;
        @include text-shadow(1px 1px 2px #000);
        @include background-size(cover);

        background-position: center top;
        min-height:300px;
    }
}


.social-icons {
    $social: facebook, twitter, google, youtube, instagram;
    @include cubo($array:$social, $size : 32px);
    a {
        background:#000 image-url("social-icons-32.gif") no-repeat;
    }
    padding:8px 0 0 0;
    list-style:none;
    li { float:left;margin:0 0 0 4px; padding:0; border:1px solid #444 }
}

.social-login{
    color:#FFF;
    a {  
        display:block;
        margin:6px;
        color:#FFF;
        vertical-align:baseline;
        line-height:50px;
        font-weight:bold;
        padding-right:5px;
        @include ellipsis;
        //@include box-shadow(#666 2px 2px 6px);
        //border-radius:5px;
        &:hover{ text-decoration:none }
        //@include text-shadow(#222 1px 1px 1px);
    }

    .fa { 
        line-height:50px; 
        min-width:50px; height:50px; 
        text-align:center; 
        font-size:2.5em;        
    }

    .facebook{ 
        a{ background:$hex-facebook-light; border:1px solid $hex-facebook-dark;}
       .fa { background: $hex-facebook; border-right:1px solid $hex-facebook-dark; }
    }
    .github{ 
        a{ background:$hex-github-light; border:1px solid $hex-github-dark;}
        .fa { background:$hex-github; border-right:1px solid $hex-github-dark; }
    }
    .twitter{ 
        a{ background:$hex-twitter-light; border:1px solid $hex-twitter-dark; }
        .fa { background:$hex-twitter; border-right:1px solid $hex-twitter-dark;  }
    }
    .google{ 
        a{ background:$hex-google-light; border:1px solid $hex-google-dark;}
        .fa { background: $hex-google; border-right:1px solid $hex-google-dark; }
    }
}



.messenger {

    .win {
        position:fixed;
        
        bottom:-200px;
        right:20px;
        background:$color-bg-01;
        float:left;
        width:240px;
        min-height:240px;
        border:1px solid #CCC;
        margin-right:10px;
        @include box-shadow(#666 2px 2px 6px);

        @include transition-property(bottom);
        @include transition-duration(0.3s);
        @include transition-timing-function(ease); 
    }
    .win:hover{
        bottom:0;
    }

    .chat {

    }
    .users {
        a { 
            color: #999; 
            img {  display:inline-block; border:1px solid #CCC; width:30px; height:30px;}
            &.signed-in {
                color:#000;
                font-weight:bold;
                img {border:1px solid #0C0;}
            }   
        }     
    }
}

.work {
}

.postscript{
    color:#CCC;
    background:image-url('blue-bg-leather.jpg');
}


.media-modal {

    .upload {
        .drop-box {
            margin:10px 0;
            padding:40px 10px;
            background:#F0F0F0;
            border:dashed 4px #DDD;
            overflow:hidden;
            .drop-text {
                text-align: center;
                color:#666;
            }
        }
        &.ng-file-over .drop-box {
            background:#EEE;
            border:dashed 4px #666;
        }
        .scrollwrap {
            background:#FFF;
            padding:10px;
            border:solid 1px #DDD;
            overflow-x:hidden;
            overflow-y:auto;
            max-height:280px;
            ul{
                margin:5px 20px;
                li {
                    padding-top:8px;
                    margin-bottom:2px;
                    border:1px solid #DDD;
                }
            } 
        }

        .actions {
            margin-right:18px;
        }

        .upload-btn{
            margin:5px auto;
        }
    }
    .files{
        .filewrap{
            min-height:200px;
            width:100%;
        }
        .list-float {
            padding:0;
            margin: 0;
            list-style: none;
            li {
                float: left;
            }
        }
        .thumbnail {
            position:relative;
            min-height:70px;
            cursor:pointer;
            &.selected {
                border:1px solid #3D3;
                .fa-check { display:block}     
            }

            .fa-check{
                display:none;
                font-size:2em;
                position:absolute;
                right:-8px;
                top:-8px;
                color:#0C0;
                @include box-shadow(#FFF 0 0 20px inset);
            }     
 
        }
    }
    .modal-footer {
        margin-top:0;
    }
}


input[type='file'],
input[type='file']::-webkit-file-upload-button {
    visibility: hidden;
    opacity:0;
    height:0;
    width:0;
}

.ta-editor {
  border-radius:0 0 5px 5px;  
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}

.ace_editor{
    min-height: 200px;
}