<section class="page-articles">
    <div class="container page-mid">



<section ng-init="findOne()">

    <h1>{{article.title}}</h1>

    <p>
    <span>{{article.created | date:'medium'}}</span>
    <span>{{article.user.name}}</span>
    </p>
    

    <p ng-show="currentUser">
        <a class="btn btn-info" href="articles/{{article._id}}/edit">
        	<i class="fa fa-edit"></i> Edit
        </a>
        <a class="btn btn-info" ng-click="remove();">
            <i class="fa fa-trash-o"></i> Chuck it
        </a>
    </p>

    <div>{{article.content}}</div>

</section>
<br/>

</div>
</section>
