

<div class="container">

<h1>Blog</h1>
	<p>
	<a href="/articles/create" class="btn btn-primary" ng-href="/articles/create">New Article</a>
	</p>
<section ng-init="find()">

	<ul class="articles list-unstyled">
		<li ng-repeat="article in articles">
			<h2><a ng-href="articles/{{article._id}}">{{article.title}}</a></h2>
			<span>{{article.created | date:'medium'}}</span> /
			<span>{{article.user.name}}</span>
			<div>{{article.content}}</div>
		</li>
	</ul>

	<h1 ng-hide="!articles || articles.length">No articles yet. <br> Why don't you <a href="articles/create">Create One</a>?</h1>

</section>
<br/>
</div>