<div class="page-article-create">
  <section class="page-main">
    <div class="container page-mid" ng-init="newArticle();">
      <h1>Create Article</h1>
      <form class="form-horizontal" ng-submit="create()">
        <div class="row">
          <section class="col-sm-4 col-md-4" ng-controller="ModalCtrl">
            <div class="well">
              <a href="" class="btn btn-info" ng-click="openMediaModal()">Select Media</a>
              <div class="" ng-show="mediaDisplay" ng-cloak>
                <h3>Media</h3>
                <ul class="list-group list-sm">
                  <li class="list-group-item clearfix" ng-repeat="item in mediaDisplay">
                    <div class="pull-right">
                      <button type="button" class="btn btn-link" ng-click="unSelectMedia(item._id);">
                        <i class="fa fa-trash-o"></i>
                      </button>
                    </div>
                    <img src="files/thumb/{{item.name}}.jpg" class="pull-left" alt="{{ item.name }}"
                    width="40px" height="40px">
                    <span class="ellipsis">{{ item.name }}</span>
                  </li>
                </ul>
              </div>
            </div>
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dt"
              is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
              ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
              </span>
            </p>
          </section>
          <section class="col-sm-8 col-md-8">
            <input type="hidden" ng-model="media" />
            <label for="title">Title</label>
            <p>
              <input class="form-control" type="text" ng-model="title" id="title" placeholder="Title"
              required>
            </p>
            <label for="content">Content</label>
            <p>
              <textarea class="form-control" ng-model="content" id="content" cols="30" rows="10"
              placeholder="Content">
              </textarea>
            </p>
            <div class="navbar navbar-default">
              <div class="navbar-form">
                <input type="submit" class="btn btn-primary">
              </div>
            </div>
          </section>
        </div>
        <!-- row -->
      </form>
    </div>
  </section>
</div>