<div class="page-contact">
  <section class="page-main">
    <div class="container page-mid">
      <h3>Contact</h3>
      <div class="row">
        <div class="col-sm-8">
          <form method="POST" class="form-horizontal" role="form" ng-submit="send()">
            <p class="col-lg-6">
              <label for="name">Name</label>
              <input type="text" name="name" id="name" class="form-control" placeholder="Your name"
              ng-model="message.name">
            </p>
            <p class="col-lg-6">
              <label for="email">Email Address</label>
              <input type="text" name="email " id="email" class="form-control" placeholder="Your email address"
              ng-model="message.email">
            </p>
            <p class="col-lg-8">
              <label for="message">Message</label>
              <textarea name="message " id="message" class="form-control" placeholder="The message you want to send to me." ng-model="message.comment" style="height:100px">
              </textarea>

            </p>

            <p class="col-lg-4">
            <label>&nbsp;</label>
            <button type="submit" class="form-control btn btn-info btn-lg" style="height:100px;width:100%">
              <i class="fa fa-envelope">
              </i>
              S E N D
            </button>
            </p>

          </form>
        </div>
        <div class="col-sm-4">
          <div class="well">
          </div>
        </div>
      </div>
      <hr/>
    </div>
</div>
</section>
</div>