<div class="page-home">
  <div class="jumbotron">
    <ul rn-carousel class="slideshow">
      <li ng-repeat="s in slideImages" ng-bind-html="s.content" class="slide {{ s.class }}"
      style="{{ s.style }}">
      </li>
    </ul>
  </div>
  <section class="page-main">
    <div class="container page-mid">
      <h2>Welcome <span ng-show="currentUser">{{ currentUser.name }}</span>!</h2>
      {{scroll}}
      <div class="row">
        <div class="col-sm-8">

          <ul class="list-group">
          <li class="list-group-item" ng-repeat="h in hazards">
            <h3>{{h.title}}</h3>
            <p ng-bind-html="h.body"> {{h.body}} </p>
          </li>
          </ul>

          <div class="thumbnail">
          <div ui-ace="{
            useWrapMode : true,
            showGutter: true,
            theme:'cobalt',
            mode: 'html',
            onLoad: aceLoaded,
            onChange: aceChanged
          }" ng-model="slideImages[0].content">
          </div>
          </div>
          <h3>Yeoman</h3>
          <p>
            Based on "generator-angular-fullstack" we're able to harness the generator concept
            for building and creating tests etc, with the added benefits already baked in that
            we can just call workflow or best practices.
          </p>
          <em>This is a list of "awesomethings" that we benefit from the yeoman project.</em>
          <ul class="list-unstyled">
            <li ng-repeat="thing in awesomeThings">
              <h5>{{thing.name}}</h5>
              <p>
                {{thing.info}}
              </p>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <img src="http://placehold.it/200x350">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <h3>Column 1</h3>
            <ul class="list-unstyled">
              <li>
                <a href="">Item 1</a>
              </li>
              <li>
                <a href="">Item 2</a>
              </li>
              <li>
                <a href="">Item 3</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h3>Column 2</h3>
            <ul class="list-unstyled">
              <li>
                <a href="">Item 1</a>
              </li>
              <li>
                <a href="">Item 2</a>
              </li>
              <li>
                <a href="">Item 3</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h3>Column 3</h3>
            <ul class="list-unstyled">
              <li>
                <a href="">Item 1</a>
              </li>
              <li>
                <a href="">Item 2</a>
              </li>
              <li>
                <a href="">Item 3</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>