<div class="page-home">
  <div class="jumbotron">
    <h1>Welcome <span ng-show="currentUser">{{ currentUser.name }}</span>!</h1>
    <p class="lead">
      <img src="images/logo-sm.png" alt="">
      = Angular and Node Expressing with Mongo.
    </p>
    <p>
      <a class="btn btn-lg btn-success" ng-href="#">Check It!</a>
    </p>
  </div>
  <section class="page-main">
    <div class="container page-mid">
      <div class="row">
        <div class="col-sm-8">
          <h3>Yeoman</h3>
          <p>
            Based on "generator-angular-fullstack" we're able to harness the generator concept
            for building and creating tests etc, with the added benefits already baked in that
            we can just call workflow or best practices.
          </p>
          <em>This is a list of "awesomethings" that we benefit from the yeoman project.</em>
          <ul class="list-unstyled">
            <li ng-repeat="thing in awesomeThings">
              <h5>{{thing.name}}</h5>
              <p>{{thing.info}}</p>
            </li>
          </ul>
        </div>
        <div class="col-sm-4">
          <div class="well">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>