<div class="upload" ng-file-drop ng-file-over ng-class="{'is-html5': uploader.isHTML5 }">
	
	<h3>Upload Files</h3>
	<p>
		<b class="btn btn-info btn-xs" ng-click="callFileInput()">
			<i class="fa fa-hand-o-up"></i> Browse for Files
		</b>
		<em>Hold <span class="label label-default">Ctrl</span> to select multiple files.</em>
	</p>

	<input id="fileInput" ng-file-select type="file" multiple/>

	<div class="drop-box" style="margin-bottom:20px">

		<div class="drop-text" ng-hide="uploader.queue.length != 0" >
			<h4><i class="fa fa-arrow-circle-o-down"></i> Drag Files Here</h4>
		</div>

		<section class="scrollwrap" ng-show="uploader.queue.length != 0">
			<ul class="list-unstyled">
				<li class="row" ng-repeat="item in uploader.queue">
					<div class="pull-right">
						<div class="actions">
							<button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
								<i class="fa fa-upload">
								</i>
							</button>
							<button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
								<i class="fa fa-ban">
								</i>
							</button>
							<button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
								<i class="fa fa-trash-o">
								</i>
							</button>
						</div>
					</div>
					<div class="col-xs-3 col-sm-2">
						<div ng-show="uploader.isHTML5" ng-thumb="{file: item.file, height: 50, width: 50}">
						</div>
					</div>
					<div class="col-xs-9 col-sm-7">
						<strong class="ellipsis" style="max-width:90%">
							{{ item.file.name }}
						</strong>
						<progressbar value="item.progress" type="success">
							<b>{{item.progress}}%</b>
						</progressbar>
					</div>
				</li>
			</ul>
		</section>
		<em ng-show="uploader.queue.length != 0">
			Total: {{ uploader.queue.length }}
		</em>
		<p>
			<progressbar value="uploader.progress" type="success" ng-show="uploader.queue.length != 0">
				<b>
					{{uploader.progress}}%
				</b>
			</progressbar>
		</p>

		<div class="actions pull-right" ng-show="uploader.queue.length != 0">
			<button type="button" class="btn btn-xs" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
				<span class="fa fa-upload"></span> Upload all
			</button>
			<button type="button" class="btn btn-xs" ng-click="uploader.cancelAll()"
			ng-disabled="!uploader.isUploading">
				<span class="fa fa-ban"></span> Cancel all
			</button>
			<button type="button" class="btn btn-xs" ng-click="uploader.clearQueue()"
			ng-disabled="!uploader.queue.length">
				<i class="fa fa-trash-o"></i> Remove all
			</button>
		</div>


	</div><!-- drop-box -->

</div><!-- upload -->