<div class="modal-content media-modal">

	<div class="modal-header">
		<button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
		<h4 class="modal-title">Media {{mediaFiles}}</h4>
		
	</div>
	<div class="modal-body">
		<tabset justified="true">
			<tab heading="Upload" select="selectTab('files')">
				<div ng-include="src='partials/media-modal-upload.html'">
				</div>
			</tab>
			<tab heading="Files" select="selectTab('files')">
				<div ng-include="src='partials/media-modal-files.html'"></div>
			</tab>
		</tabset>
	</div>
	<!-- modal-body -->
	<div class="modal-footer">
		<button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()"
		ng-disabled="!uploader.isUploading">
			<span class="fa fa-ban"></span> Cancel
		</button>
		<button type="button" class="btn btn-primary btn-s" ng-click="ok()">
			<i class="fa fa-check"></i> Ok
		</button>
	</div>
</div>
<!-- /.modal-content -->