<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-click="toggleNav()">
      <span class="sr-only">Toggle navigation</span>
      <span class="fa" ng-class="{'fa-chevron-down':isCollapsed, 'fa-chevron-up':!isCollapsed}"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="images/logo-sm.png"/></a>
  </div>
  <div id="top-nav" collapse="isCollapsed">
    <ul class="nav navbar-nav">

      <li ng-repeat="item in menus.main" ng-class="{active: isActive(item.route)}" dropdown>
        
          <a ng-href="{{item.link}}" ng-class="{active: isActive(item.route), 'dropdown-toggle':item.c}">
               {{item.title}} 
               <span class="caret" ng-show="item.c"></span>
          </a>
          <ul class="dropdown-menu" role="menu" ng-show="item.c">
            <li ng-repeat="c in item.c"><a href="{{c.link}}">{{c.title}}</a></li>
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
    </li>

  <li>
        <a>{{scroll}}</a>
      </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li ng-show="{{global.authenticated}}">
        <a ng-href="/user/{{global.user._id}}">
        <i class="fa fa-{{global.user.provider}}"></i>
        <img ng-src="{{thumbnail}}"/> {{global.user.name}}
        </a>
      </li>
    <li ng-repeat="item in usermenu" ng-class="{active: isActive(item.route)}">
        <a ng-href="{{item.link}}">{{item.title}}</a>
      </li>
    <li ng-hide="currentUser" ng-class="{active: isActive('/login')}">
        <a href="/login">Sign In</a>
      </li>
    <li ng-hide="currentUser" ng-class="{active: isActive('/signup')}">
        <a href="/signup">Sign up</a>
      </li>
    <li ng-show="currentUser" ng-class="{active: isActive('/login')}" >
        <a href="/settings"><i class="fa fa-user"></i> {{currentUser.name}}</a>
      </li>
    <li ng-show="currentUser" ng-class="{active: isActive('/logout')}">
        <a href="" ng-click="logout()">Sign Out</a>
      </li>
  </ul>
  <div class="pointer fa fa-chevron-up">
  </div>
</div>
</div>
<!-- <li ng-show="{{!global.authenticated}}"><a href="/login">Sign in</a></li>
<li ng-show="{{global.authenticated}}"><a href="#" ng-click="signout()">Logout</a></li>


 <div class="header" ng-controller="NavbarCtrl">
 <div class="container">

  <ul class="nav nav-pills pull-right">
    <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
        <a ng-href="{{item.link}}">{{item.title}}</a>
    </li>

    <li ng-hide="currentUser" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
    <li ng-hide="currentUser" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
    <li ng-show="currentUser" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
  </ul>

  <h3 class="text-muted">ango</h3>
  </div>
</div-->