<div class="postscript">
	<div class="container">

		<div class="row">
			<div class="col-xs-6 col-sm-3">
				<h3>Column 1</h3>
				<ul class="list-unstyled">
					<li><a href="">Item 1</a></li>
					<li><a href="">Item 2</a></li>
					<li><a href="">Item 3</a></li>
				</ul>
			</div>
			<div class="col-xs-6 col-sm-3">
				<h3>Column 2</h3>
				<ul class="list-unstyled">
					<li><a href="">Item 1</a></li>
					<li><a href="">Item 2</a></li>
					<li><a href="">Item 3</a></li>
				</ul>
			</div>
			<div class="col-xs-6 col-sm-3">
				<h3>Column 3</h3>
				<ul class="list-unstyled">
					<li><a href="">Item 1</a></li>
					<li><a href="">Item 2</a></li>
					<li><a href="">Item 3</a></li>
				</ul>
			</div>
			<div class="col-xs-6 col-sm-3">
				<h3>Column 4</h3>
				<ul class="list-unstyled">
					<li><a href="">Item 1</a></li>
					<li><a href="">Item 2</a></li>
					<li><a href="">Item 3</a></li>
				</ul>
			</div>

		</div>

	</div>
</div>