
<div class="inner">

	<style type="text/css">
		.well.block {
			margin: 10px;
			background: rgba(255,255,255,0.3);
		}
		.well.block .inner{
			min-height:49px;
		}
		.split-left { padding: 0; }
		.split-right { margin-top:-10px;}
		@media (min-width:480px) { 
			.well.block .inner{
				min-height: 240px;
			}

			.split-left{ 
				margin-right:-30px; margin-left: 15px
			}
			.split-left .well.block .inner{
				min-height:96px;
			}
			.split-right {margin: 0}
		}
		@media (min-width: 768px) { 
			
			.well.block {
				margin:10px 0 0 0;
			}
			.split-left{ margin: 0;}
			.split-left .well.block .inner{
				min-height: 240px;
			}
		}
	</style>

	<div class="container">
		<div class="body-text">
			<div class="row">
				<div class="col-xs-6 col-sm-8 split-left">		
					<div class="col-sm-6">
						<div class="block well">
							<div class="inner">Column 1</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="block well"><div class="inner">Column 2</div></div>
					</div>
				</div>
				<div class="col-xs-6 col-sm-4 split-right">
					<div class="block well"><div class="inner">Column 3</div></div>
				</div>
			</div>
		</div>
	</div>


	<picture data-alt="test" class="pfill">
	<source media="(min-width: 1200px)" srcset="http://placehold.it/1920x300/6699CC/6090C0" />
	<source media="(min-width: 992px)" srcset="http://placehold.it/1200x300/6699CC/6090C0" />
	<source media="(min-width: 768px)" srcset="http://placehold.it/992x300/6699CC/6090C0" />
	<source media="(min-width: 481px)" srcset="http://placehold.it/770x300/6699CC/6090C0" />
	<source media="(min-width: 0)" srcset="http://placehold.it/480x300/6699CC/6090C0"/>
	<img srcset="http://placehold.it/480x300/6699CC/6090C0"/>
	</picture>


</div>