<div class="inner">

	<div class="container">
		<div class="body-text">
			<h1>Slide 3</h1>
		</div>
	</div>


	<picture data-alt="test" class="pfill">
	<source media="(min-width: 1200px)" srcset="http://placehold.it/1920x300/FF9900/6090C0" />
	<source media="(min-width: 992px)" srcset="http://placehold.it/1200x300/FF9900/6090C0" />
	<source media="(min-width: 768px)" srcset="http://placehold.it/992x300/FF9900/6090C0" />
	<source media="(min-width: 481px)" srcset="http://placehold.it/770x300/FF9900/6090C0" />
	<source media="(min-width: 0)" srcset="http://placehold.it/480x300/FF9900/6090C0"/>
	<img srcset="http://placehold.it/480x300/FF9900/6090C0"/>
	</picture>



</div>