<div class="social-login">
  <ul class="list-unstyled clearfix">
    <li class="facebook list-item col-xs-6 col-md-12">
      <a href="/auth/facebook" target="_self"><i class="fa fa-facebook pull-left"></i> Signin with Facebook</a>
    </li>
    <li class="github col-xs-6 col-md-12">
      <a href="/auth/github" target="_self"><i class="fa fa-github pull-left"></i> Signin with Github</a>
    </li>
    <li class="twitter col-xs-6 col-md-12">
      <a href="/auth/twitter" target="_self"><i class="fa fa-twitter pull-left"></i>  Signin with Twitter</a>
    </li>
    <li class="google col-xs-6 col-md-12">
      <a href="/auth/google" target="_self"><i class="fa fa-google-plus pull-left"></i> Signin with Google</a>
    </li>
  </ul>
</div>