<div class="social-login col-md-offset-1 col-md-4 col-xs-7">
	<ul class="list-unstyled">
		
		<li class="facebook list-item">
			<a href="/auth/facebook" target="_self"><i class="fa fa-facebook pull-left"></i> Signin with Facebook</a>
		</li>
		<li class="github">
			<a href="/auth/github" target="_self"><i class="fa fa-github pull-left"></i> Signin with Github</a>
		</li>
		<li class="twitter">
			<a href="/auth/twitter" target="_self"><i class="fa fa-twitter pull-left"></i>  Signin with Twitter</a>
		</li>
		<li class="google">
			<a href="/auth/google" target="_self"><i class="fa fa-google-plus pull-left"></i> Signin with Google</a>
		</li>
	</ul>
</div>