<div class="page-about">
  <section class="page-main">
    <div class="container page-mid">
      <div class="row">
        
        <div class="col-sm-6">

          <h3>Draggable Tree</h3>
          <!-- Nested list template -->
          <script type="text/ng-template" id="items_renderer.html">
            <div class="tree-node">
              <div ui-tree-handle class="pull-left btn btn-link">
                <i class="fa fa-ellipsis-v"></i>
                <i class="fa fa-ellipsis-v"></i>
              </div>
              <div class="tree-node-content">
                <a class="btn btn-success btn-xs" ng-show="item.items" data-nodrag ng-click="toggle(this)">
                <i class="fa" ng-class="{'fa-chevron-right': collapsed, 'fa-chevron-down': !collapsed}"></i>
                </a>
   
                <input ng-model="item.title" ng-blur="editdone(this);" ng-focus="edit(this)" ng-class="{'input-blank':!item.editing}" />
                
                <a class="pull-right btn btn-link btn-xs" data-nodrag ng-click="remove(this)"  style="margin-right:0;"> 
                <i class="fa fa-times"></i>
                </a>
                <a class="pull-right btn btn-link btn-xs" data-nodrag ng-click="newSubItem(this)"> 
                  <i class="fa fa-plus"></i>
                </a>
                <a class="pull-right btn btn-link btn-xs" data-nodrag ng-click="edit(this)"> 
                  <i class="fa fa-pencil"></i>
                </a>
              </div>
            </div>
            <ol ui-tree-nodes="options" ng-model="item.items" ng-class="{hidden: collapsed}">
              <li ng-repeat="item in item.items" ui-tree-node ng-include="'items_renderer.html'"></li>
            </ol>
          </script>


          <accordion  close-others="false">
              <accordion-group ng-repeat="tree in allTrees" is-open="tree.open">
                <accordion-heading>
                    {{tree.label}} <i class="pull-right fa" ng-class="{'fa-chevron-down': tree.open, 'fa-chevron-right': !tree.open}"></i>
                </accordion-heading>

              <div ui-tree="options">
                <ol ui-tree-nodes ng-model="tree.items">
                  <li ng-repeat="item in tree.items" ui-tree-node ng-include="'items_renderer.html'"></li>
                </ol>
              </div>
             </accordion-group>
          </accordion>







     </div>


      <div class="col-sm-6">

        <button class="btn btn-primary" ng-click="update()">Update</button>
        <button class="btn btn-primary" ng-click="getTree()">Get Tree 1</button>

        <tabset>

          <tab heading="JSON">
            <pre>
              {{allTrees | json}}
            </pre>
          </tab>

          <tab heading="BSON">
            <pre>
              {{savelist | json}}
            </pre>
          </tab>
          
          <tab heading="Open JSON">
            <pre>
              {{openlist | json}}
            </pre>
          </tab>  

        </tabset>

      </div>


      </div><!-- row -->
    </div><!-- page-mid -->
  </section>
</div>